input.custom {
  background-color: hsl(360, 100%, 22%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="hsl(360, 100%, 52%)", endColorstr="hsl(360, 100%, 22%)");
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(360, 100%, 52%)), to(hsl(360, 100%, 22%)));
  background-image: -moz-linear-gradient(top, hsl(360, 100%, 52%), hsl(360, 100%, 22%));
  background-image: -ms-linear-gradient(top, hsl(360, 100%, 52%), hsl(360, 100%, 22%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(360, 100%, 52%)), color-stop(100%, hsl(360, 100%, 22%)));
  background-image: -webkit-linear-gradient(top, hsl(360, 100%, 52%), hsl(360, 100%, 22%));
  background-image: -o-linear-gradient(top, hsl(360, 100%, 52%), hsl(360, 100%, 22%));
  background-image: linear-gradient(top, hsl(360, 100%, 52%), hsl(360, 100%, 22%));
  border-color: hsl(360, 100%, 22%) hsl(360, 100%, 22%) hsl(360, 100%, 14.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
  -webkit-font-smoothing: antialiased;
}